*{
    box-sizing: border-box;
    margin:0;
    font-family: arial;
}

body{
    margin:0;
    width:100%;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-sec{
    width:40%;
    height:600px;
    border-radius:20px;
    background: linear-gradient(to bottom,rgb(225, 202, 220),rgb(207, 218, 230));
    margin:100px;
    animation:log-load 300ms ease-in;
    padding:60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes log-load{
    0%{
        transform: scale(0);
    }

    90%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

.msg-log{
    width:100%;
    color:red;
    text-align: center;
}

.login-sec h1{
    text-align: center;
    padding:20px;
    margin:10px;
    color:white;
}

input[type="checkbox"]{
    cursor: pointer;
}

.login-sec table tr td{
    font-size: 16px;
    font-weight: bold;
    margin:20px;
    padding:20px;
}

.login-sec table tr td span{
    width:50%;
    float: left;
}

.login-sec table tr td a{
    color: black;
    text-decoration: none;
    font-size: 15px;
}


.login-sec table tr td a:hover{
    text-decoration: underline;
    color: rgb(235, 98, 48);
}


.login-sec table tr td input {
    padding:15px;
    border-radius: 10px;
    width:300px;
    outline:none;
    border:0.6px solid lightgray;
    transition: 0.7s ease-in;
}

.login-sec table tr td input:focus{
    outline:none;
    border:0.6px solid rgb(99, 99, 245);
    box-shadow: 0px 0px 8px  0px rgb(142, 142, 247);
    transition: 0.7s ease-in;
}

.btn-div{
    width:100%;
    padding:10px;
    text-align: center;
}

.btn{
    padding:15px;
    width:200px;
    color:whitesmoke;
    border-radius:10px;
    background: navy;
    border:1px solid navy;
    transition: 0.7s ease-in;
}

.btn:hover{
    background: rgb(235, 98, 48);
    border:1px solid rgb(235, 98, 48);
}


.form-sec{
    
    border-radius:20px;
    background: linear-gradient(to bottom,rgb(225, 202, 220),rgb(207, 218, 230));
    margin:100px;
    padding:30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:40%;
    margin:100px;
    height:auto;
    animation:form-load 300ms ease-in;
}

@keyframes form-load{
    0%{
        transform: scale(0);
    }

    90%{
        transform: scale(1.1);
    }

    100%{
        transform: scale(1);
    }
}

.form-sec h1{
    text-align: center;
    padding:20px;
    margin:10px;
    color:white;
}


.form-sec table tr td{
    font-size: 16px;
    font-weight: bold;
    margin:20px;
    padding:20px;
}

.form-sec table tr td a{
    text-decoration: none;
    font-size: 15px;
}


.form-sec table tr td a:hover{
    text-decoration: underline;
}

.form-sec table tr td input {
    padding:15px;
    border-radius: 10px;
    width:300px;
    outline:none;
    border:0.6px solid lightgray;
    transition: 0.7s ease-in;
}

.form-sec table tr td input:focus{
    outline:none;
    border:0.6px solid rgb(99, 99, 245);
    box-shadow: 0px 0px 8px  0px rgb(142, 142, 247);
    transition: 0.7s ease-in;
}


.form-sec table tr td select {
    padding:15px;
    border-radius: 10px;
    width:300px;
}

.form-sec table tr td select:focus{
    outline:none;
}


#p-pass{
    visibility: visible;
}


.login-sec table tr #tock{
    font-size: 16px;
    margin:20px;
    padding:0px;
    display: flex;
    width:auto;
    height:20px;
}

.login-sec table tr #tock input{
    width:100px;
}

#pock input{
    width:60%;
}

#pock{
    display:none;
    padding:1px;
}

.change-pass{
    font-size: 15px;
    color:goldenrod;
    border-radius:30px;
    background: linear-gradient(to bottom,rgb(100,0,50),rgb(0,50,100));
    border:2px solid rgb(100,0,50);
}

.change-pass:hover{
    background: rgb(150,0,50);
    color:gold;   
}


.p-a-s{
    display:block;
    float:left;
}

#p-a-t{
    display:none;
    width:100%;
    padding:20px 0px;
}

#p-a-t input{
    padding:0px;
    border-radius: 10px;
    width:100px;
}

#aaa{
    display: block;
    width:30%;
}

#bbb{
    display:none;
    width:30%;
}